

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.header{
  margin-bottom: 74px;
}

.background{
  background-image: url(../assets/Hero-bg.png);
  background-size: contain;
  width: 1440;
  height: 670px;
}
.div1{
  width: 998;
  height: 582;
  text-align: center;

 
  
}
.divh3{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  
  
  
}
.divp{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
}
.btn{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
padding:21px 24px 21px 24px ;
background: rgb(13, 19, 33);
}
.new{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
text-align: center;
}
.new2{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;

text-align: center;
opacity: 0.7;

}
.newh3{
  color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
text-align: left;
}
.newpp{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: left;
opacity: 0.7;

}

.division{
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
  padding: 48px;
  background-color: #FFFFFF;
}
.section{
  padding: 80px 97px 80px 97px;
  border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}

.division2{
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
  padding: 48px;
  background-color: #FFFFFF;
}
.newbtn{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 12px 20px 12px 20px;
}

.division3{
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
  padding: 48px;
  background-color: #FFFFFF;
}

.heading{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;;
text-align: center;
}

.description-text{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;

}
.div35{
width: 1140px;
height: 614px;
padding: 32px;
margin: 48px 0px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;



}
.iframe{
width: 1076px;
height: 550px;
margin: 10px 0px;
border-radius: 16px;
text-align: center;

}

.div50{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.div51{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;

}

.ankor{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
text-align: left;
text-decoration-line: underline;
}
.big-div{
  display: flex;
}

.divhtml{
width: 364px;
height: 300px;
padding: 40px;
margin: 0px 24px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}

.divcss{
  width: 364px;
  height: 300px;
  padding: 40px;
  margin: 0px 24px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
  }
.divjs{
width: 364px;
height: 300px;
padding: 40px;
margin: 0px 24px; 
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}




