

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.background{
  background-image: url(../assets/Hero-bg.png);
  background-size: contain;
  width: 1440;
  height: 670px;
}
.div1{
  width: 998;
  height: 582;
  text-align: center;

 
  
}
.divh3{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  
  
  
}
.divp{
  color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
}
.btn{
  color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
padding:21px 24px 21px 24px ;
background: rgb(13, 19, 33);
}